
.slide-leave-active,
.slide-enter-active {
    transition: transform .75s cubic-bezier(0.23, 1, 0.32, 1);
}

.slide-enter {
    transform: translate(100%, 0);
}

.slide-leave-to {
    transform: translate(-100%, 0);
}
