
html {
    box-sizing: border-box;
    font-size: 20px;
}

body {
    font-family: 'source_sans_proregular', Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}